$body-bg: #f2f2f2;
$navbar-default-bg: #fff;
$navbar-default-link-color:#000;
$navbar-default-link-hover-color:#888;
$navbar-default-link-active-color:#666;
$navbar-default-link-hover-bg:#000;


@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);


.img-thumbnail {
    background-color:#fff !important;
    border-bottom:none;
}

.panel-mt {
    font-size:18px;
    margin:0px;
}

.navbar {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}